.favorites{
    text-align: right;
}
.favorite{
  width:50px;
  height:50px;
}

.favorite.active{
  display: none;
}
.media{
    margin-bottom: 30px;
    display: flex;
}
iframe{
    width:700px;
    height: 411px;
    margin-right:40px ;
    border-radius: 10px;
}
.movieDetail .media img{
    width:276px;
    height:411px;
    border-radius: 10px;
    margin-right:40px ;

}
.movieDetail .content{
    background-color: black;
    width: 300px;
    border-radius: 20px;
    padding: 20px;
    justify-self:center;
}
.movieDetail .content p{
    font-size: 20px;
}